version: 2
jobs:
  test_debug:
    docker:
      - image: tschijnmo/drudge:base
    steps:
      - run: |
          git clone https://github.com/tschijnmo/libcanon.git
          mkdir cmake-test-debug
          cd cmake-test-debug
          cmake -DCMAKE_BUILD_TYPE=debug ../libcanon
          make
          ctest

  test_release:
    docker:
      - image: tschijnmo/drudge:base
    steps:
      - run: |
          git clone https://github.com/tschijnmo/libcanon.git
          cd libcanon
          mkdir cmake-test-release
          cd cmake-test-release
          cmake -DCMAKE_BUILD_TYPE=release ../libcanon
          make
          ctest

workflows:
  version: 2
  tests:
    jobs:
      - test_debug
      - test_release

